.NavItemSpacing {
  margin-right: 24px;

  @media (min-width: 1900px) {
    margin-right: 36px;
  }
}

.NavDivider {
  height: 24px;
  width: 1px;
  background-color: $divider-color;
  margin: 0 24px;

  @media (min-width: 1900px) {
    width: 3px;
    margin: 0 36px;
  }
}
