.MintContainer {
  &:hover {
    opacity: 1 !important;
  }
}

.MintContent {
  position: absolute;
  height: 100%;
  width: 100%;
  background: $dark-bg;
  width: calc(100% - 4px);
  top: 2px;
  height: calc(100% - 4px);
  border-radius: 3px;
  color: white;
}
