.MintContainer,
.MintCountButtonContainer {
  &:hover {
    opacity: 1 !important;
  }

  @extend .btn-secondary;

  -webkit-background-clip: unset !important;
  background-clip: unset !important;
  -webkit-text-fill-color: unset !important;
  color: white;
  font-weight: unset !important;
  padding: unset !important;

  display: flex;
  justify-content: center;
  align-items: center;
}

.MintContent,
.MintCountButtonContent {
  position: absolute;
  height: 100%;
  width: 100%;
  background: $dark-color;
  width: calc(100% - 4px);
  top: 2px;
  height: calc(100% - 4px);
  border-radius: 3px;
  color: white;
  // padding: 22px;
}

.MintCountButtonContainer {
  cursor: pointer;
  height: 40px;
  width: 44px; // height * 1.108
}

.MintCountButtonContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
