.RoadmapBox {
  padding: 20px;
  width: 100%;
  min-height: 269px;
  height: 100%;
  background-color: $dark-color;
  color: white;
  border-radius: 8px;
}

.RoadmapBox__Title {
  padding: 5px 10px;
  background-color: $blue-color;
  border-radius: 8px;
  margin-bottom: 20px;
  width: max-content;
}
