.TeamNoteBox {
  padding: 20px;
  border-radius: 8px;
  background-color: $black-color;
  position: relative;

  &__Button {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
    color: white;

    img {
      transition: 0.2s;
      transform: rotate(135deg);
      height: 18px;
      width: 18px;
    }

    &--active {
      img {
        transform: rotate(0);
      }
    }
  }
}
