$primary-gradient: #78c6ed, #76baee, #74aeef, #72a1f0, #7094f2, #6e85f3, #6c77f4,
  #6d6af5, #7868f6, #8566f7, #9264f9, #a062fa, #af5ffb, #be5dfc, #ce5bfe,
  #de59ff;
$pink-color: #de59ff;
$blue-color: #7ad1ec;
$black-color: #1f1b25;
$dark-color: #2a2630;
$light-color: #675d78;
$divider-color: #514b58;
