@font-face {
  font-family: "DisposableDroid";
  src: url("./fonts/DisposableDroidBB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DisposableDroid";
  src: url("./fonts/DisposableDroidBB_bld.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DisposableDroid";
  src: url("./fonts/DisposableDroidBB_ital.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "DisposableDroid";
  src: url("./fonts/DisposableDroidBB_bldital.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

p,
button {
  font-size: 27px;
  line-height: 27px;

  @media (max-width: 1080px) {
    font-size: 23px;
    line-height: 23px;
  }

  @media (max-width: 800px) {
    font-size: 19px;
    line-height: 19px;
  }

  @media (min-width: 1900px) {
    font-size: 31px;
    line-height: 31px;
  }
}

small {
  font-size: 22px;
  line-height: 22px;

  @media (max-width: 1080px) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (max-width: 800px) {
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: 1900px) {
    font-size: 26px;
    line-height: 26px;
  }
}

.xsmall {
  font-size: 18px;
  line-height: 18px;

  @media (max-width: 1080px) {
    font-size: 14px;
    line-height: 14px;
  }

  @media (max-width: 800px) {
    font-size: 10px;
    line-height: 12px;
  }

  @media (min-width: 1900px) {
    font-size: 22px;
    line-height: 22px;
  }
}

big {
  font-size: 29px;
  line-height: 29px;

  @media (max-width: 1080px) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (max-width: 800px) {
    font-size: 21px;
    line-height: 21px;
  }

  @media (min-width: 1900px) {
    font-size: 33px;
    line-height: 33px;
  }
}

h2 {
  font-size: 37px;
  line-height: 37px;

  @media (max-width: 1080px) {
    font-size: 33px;
    line-height: 33px;
  }

  @media (max-width: 800px) {
    font-size: 29px;
    line-height: 29px;
  }

  @media (min-width: 1900px) {
    font-size: 41px;
    line-height: 41px;
  }
}

h1 {
  font-size: 40px;
  line-height: 40px;

  @media (max-width: 1080px) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (max-width: 800px) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: 1900px) {
    font-size: 44px;
    line-height: 44px;
  }
}

.text {
  &-primary {
    background: -webkit-linear-gradient(left, $primary-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-blue {
    color: $blue-color;
  }

  &-pink {
    color: $pink-color;
  }

  &-divider {
    color: $divider-color;
  }
}
