@font-face {
  font-family: "DisposableDroid";
  src: url("./fonts/DisposableDroidBB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DisposableDroid";
  src: url("./fonts/DisposableDroidBB_bld.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DisposableDroid";
  src: url("./fonts/DisposableDroidBB_ital.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "DisposableDroid";
  src: url("./fonts/DisposableDroidBB_bldital.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

p,
button {
  font-size: 20px;
  line-height: 21px;
}

h5 {
  font-size: 21px;
  line-height: 22px;
}

h2 {
  font-size: 28px;
  line-height: 29px;
}

h1 {
  font-size: 31px;
  line-height: 32px;
}

.text {
  &-primary {
    background: -webkit-linear-gradient(left, $primary-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-blue {
    color: $blue-color;
  }

  &-pink {
    color: $pink-color;
  }

  &-divider {
    color: $divider-color;
  }
}
