@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./1-variables";
@import "./2-typography";

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "DisposableDroid", Georgia, serif;
}

.text-primary,
.btn-secondary {
  background: -webkit-linear-gradient(left, $primary-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-primary {
  background: linear-gradient(to right, $primary-gradient);
  padding: 8px 24px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
}

.btn-secondary {
  border-radius: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, $primary-gradient);
  padding: 6px 22px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
}
