.AboutBoxLong,
.AboutBox {
  border-radius: 8px;
  padding: 20px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-color;
}
.AboutBoxLong {
  width: 509px;
}

.AboutDotWrap {
  height: 3px;
  width: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AboutDot,
.AboutDotBig {
  height: 1px;
  width: 1px;
  border-radius: 50%;
  // box-shadow: $dot-shadow;
}

.AboutDotBig {
  height: 6px;
  width: 6px;
}
