.AboutBoxLong,
.AboutBox {
  border-radius: 8px;
  padding: 20px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-color;
}
.AboutBoxLong {
  width: 509px;
}

.AboutDotWrap {
  height: 3px;
  width: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AboutDot {
  height: 1px;
  width: 1px;
  border-radius: 50%;
  // animation: dots 1.6s linear infinite;
}
.AboutDotBig {
  border-radius: 50%;
  height: 6px;
  width: 6px;
  animation: bigDotAnimation 2s linear infinite 0.8s;
}

.AboutDotDown {
  .AboutDot {
    animation: smallDotAnimation 2s linear infinite;
  }

  @for $i from 1 through 3 {
    &:nth-child(#{$i + 1}) {
      .AboutDot {
        animation-delay: $i * 0.2s;
      }
    }
  }
}

.AboutDotMidLeft {
  .AboutDot {
    animation: midDotAnimation 4.4s linear infinite;
  }

  @for $i from 2 through 35 {
    &:nth-child(#{$i}) {
      .AboutDot {
        animation-delay: ($i + 5) * 0.1s;
      }
    }
  }
}
.AboutDotMidRight {
  .AboutDot {
    animation: midDotAnimation 4.4s linear infinite;
  }

  @for $i from 2 through 35 {
    &:nth-last-child(#{$i}) {
      .AboutDot {
        animation-delay: ($i + 5) * 0.1s;
      }
    }
  }
}
@keyframes midDotAnimation {
  0% {
  }

  10% {
    height: 100%;
    width: 100%;
    box-shadow: $dot-shadow;
  }

  11.37% {
    height: 1px;
    width: 1px;
  }
}

// .AboutDotUp {
//   .AboutDot {
//     animation: smallDotAnimation 2s linear infinite 2s;
//   }
//   &:nth-child(2) {
//     .AboutDot {
//       animation-delay: 2.2s;
//     }
//   }
//   &:nth-child(3) {
//     .AboutDot {
//       animation-delay: 2.4s;
//     }
//   }
//   &:nth-child(4) {
//     .AboutDot {
//       animation-delay: 2.6s;
//     }
//   }
// }

@keyframes smallDotAnimation {
  0%,
  100% {
    height: 1px;
    width: 1px;
  }
  50% {
    height: 100%;
    width: 100%;
    box-shadow: $dot-shadow;
  }
}

@keyframes bigDotAnimation {
  0%,
  100% {
    box-shadow: none;
  }
  50% {
    box-shadow: $dot-shadow;
  }
}
