.AboutBoxLong,
.AboutBox {
  border-radius: 8px;
  padding: 20px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-color;
  position: relative;

  &::after {
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(to right, #514b589f, #514b5800);
    content: "";
    z-index: -1;
    border-radius: 10px;
  }

  &:hover {
    &::after {
      background: linear-gradient(to right, #7ad1ec, #7ad1ec18);
    }
  }
}

.AboutBoxLong {
  width: 509px;
}

.AboutDotWrap {
  height: 3px;
  width: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AboutDot {
  height: 1px;
  width: 1px;
  border-radius: 50%;
  // animation: dots 1.6s linear infinite;
}
.AboutDotBig {
  border-radius: 50%;
  height: 6px;
  width: 6px;
  animation: bigDotAnimation 3s linear infinite 0.341s;
}
.AboutDotBigMid {
  animation: bigMidDotAnimation 3s linear infinite 0.341s;
}
@keyframes bigDotAnimation {
  0% {
    box-shadow: $dot-shadow;
  }
  16.617% {
    box-shadow: none;
  }
}
@keyframes bigMidDotAnimation {
  0% {
    box-shadow: $dot-shadow;
  }
  16.617% {
    box-shadow: none;
  }
  79.545% {
    box-shadow: none;
  }
  87.879% {
    box-shadow: $dot-shadow;
  }
  96.212% {
    box-shadow: none;
  }
}
.AboutDotDown {
  .AboutDot {
    animation: downDotAnimation 3s linear infinite;
  }

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      .AboutDot {
        animation-delay: $i * 0.068s;
      }
    }
  }
}
@keyframes downDotAnimation {
  0% {
    height: 100%;
    width: 100%;
    box-shadow: $dot-shadow;
  }
  16.617% {
    height: 1px;
    width: 1px;
  }
}

.AboutDotMidLeft {
  .AboutDot {
    animation: downDotAnimation 3s linear infinite;
  }

  @for $i from 1 through 35 {
    &:nth-child(#{$i}) {
      .AboutDot {
        animation-delay: 0.341s + ($i * 0.068s);
      }
    }
  }
}
.AboutDotMidRight {
  .AboutDot {
    animation: downDotAnimation 3s linear infinite;
  }

  @for $i from 1 through 35 {
    &:nth-last-child(#{$i}) {
      .AboutDot {
        animation-delay: 0.341s + ($i * 0.068s);
      }
    }
  }
}

.AboutDotUp {
  .AboutDot {
    animation: upDotAnimation 3s linear infinite;
  }

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      .AboutDot {
        animation-delay: 0.341s + ($i * 0.068s);
      }
    }
  }
}
@keyframes upDotAnimation {
  0% {
    height: 100%;
    width: 100%;
    box-shadow: $dot-shadow;
  }
  16.617% {
    height: 1px;
    width: 1px;
    box-shadow: none;
  }
  72.718% {
    height: 1px;
    width: 1px;
    box-shadow: none;
  }
  81.052% {
    height: 100%;
    width: 100%;
    box-shadow: $dot-shadow;
  }
  89.385% {
    height: 1px;
    width: 1px;
    box-shadow: none;
  }
}
