.Collapsible {
  @extend .TeamNoteBox;

  .text-blue {
    transition: 0.2s;
  }

  &:hover {
    .Collapsible__Button,
    .text-blue {
      opacity: 0.8;
    }
  }

  &__Button {
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
    color: white;
    background-color: $light-color;
    transition: 0.2s;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1080px) {
      padding: 8px;
    }

    @media (max-width: 800px) {
      padding: 6px;
      border-radius: 4px;
    }
  }
}
