.Collapsible {
  @extend .TeamNoteBox;

  &__Button {
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
    color: white;
    background-color: $light-color;
    transition: 0.2s;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: white;
      img {
        filter: unset;
      }
    }

    @media (max-width: 1080px) {
      padding: 8px;
    }

    @media (max-width: 800px) {
      padding: 6px;
      border-radius: 4px;
    }
  }
}
