.Header {
  border-bottom: 1px solid $divider-color;
  box-shadow: 0 0 10px $dark-color;
  z-index: 9999;
}

.MobileNav {
  z-index: 9998;
  transform: translateY(-100vh);
  margin-top: 93.97px;

  @media (max-width: 639.98px) {
    margin-top: 76.88px;
  }

  &--activated {
    transform: translateY(0);
  }
}

.NavDivider {
  height: 24px;
  width: 1px;
  background-color: $divider-color;
  margin: 0 24px;
}
