.Header {
  border-bottom: 1px solid $divider-color;
  box-shadow: 0 0 10px $dark-color;
}

.NavItemSpacing {
  margin-right: 24px;

  @media (min-width: 1900px) {
    margin-right: 36px;
  }
}
.MobileNav {
  transform: translateY(-100vh);

  &--activated {
    transform: translateY(0);
  }
}

.NavDivider {
  height: 24px;
  width: 1px;
  background-color: $divider-color;
  margin: 0 24px;

  @media (min-width: 1900px) {
    width: 3px;
    margin: 0 36px;
  }
}
