.OverviewBox {
  @extend .AboutBox;
  height: unset;
  width: 350px;

  @media (max-width: 1279.98px) {
    width: 300px;
    height: 285px;
  }

  @media (max-width: 1023.98px) {
    height: auto;
    width: 100%;
  }
}

.OverviewBg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("/images/OverviewBg.svg") 100% 185px / contain no-repeat;
  opacity: 0.4;
}

.OverviewBtnImg {
  height: 80px;
  width: 100%;

  @media (max-width: 1023.98px) {
    height: 81px;
    width: 303px;
    margin-top: 10px;
  }
}
