@import "./components/headerStyles";
@import "./components/heroStyles";
@import "./components/roadmapStyles";
@import "./components/teamStyles";
@import "./components/faqStyles";
@import "./components/aboutStyles";
@import "./components/detailsStyles";
@import "./components/overviewStyles";

.StarBg {
  z-index: -1;
  position: absolute;
  height: 2px;
  width: 2px;
  border-radius: 50%;

  .AboutSection &,
  .OverviewSection & {
    top: 70%;
    left: 50%;
    background-color: white;
    box-shadow: 26vw 37vh 0px 0px #fff, 6vw -39vh 0px 0px #fff,
      32vw 20vh 0px 0px #fff, 17vw -16vh 0px 0px #fff, -32vw -25vh 0px 0px #fff,
      -50vw -2vh 0px 0px #fff, 38vw -1vh 0px 0px #fff, 39vw 28vh 0px 0px #fff,
      22vw -20vh 0px 0px #fff, 45vw -46vh 0px 0px #fff, -26vw 2vh 0px 0px #fff,
      -48vw -16vh 0px 0px #fff, -37vw 29vh 0px 0px #fff, -6vw 39vh 0px 0px #fff,
      -22vw 38vh 0px 0px #fff;
  }

  .RoadmapSection &,
  .StorySection & {
    top: 45%;
    left: 55%;
    background-color: white;
    box-shadow: -38vw -33vh 0px 0px #fff, 41vw 41vh 0px 0px #fff,
      -49vw 44vh 0px 0px #fff, -49vw 3vh 0px 0px #fff, 46vw 5vh 0px 0px #fff,
      1vw 33vh 0px 0px #fff, 0vw -32vh 0px 0px #fff, -3vw -3vh 0px 0px #fff,
      -46vw 6vh 0px 0px #fff, -37vw -48vh 0px 0px #fff, 26vw 12vh 0px 0px #fff,
      35vw -32vh 0px 0px #fff, 23vw 22vh 0px 0px #fff, 10vw 11vh 0px 0px #fff,
      -22vw -3vh 0px 0px #fff;
  }

  .TeamSection & {
    top: 20%;
    left: 40%;
    background-color: white;
    box-shadow: -3vw -50vh 0px 0px #fff, 34vw 24vh 0px 0px #fff,
      26vw 27vh 0px 0px #fff, -11vw -12vh 0px 0px #fff, 33vw -26vh 0px 0px #fff,
      33vw -11vh 0px 0px #fff;
  }

  .FooterSection &,
  .HeroSection & {
    top: 0%;
    left: 55%;
    background-color: white;
    box-shadow: 11vw 15vh 0px 0px #fff, -46vw 35vh 0px 0px #fff,
      -12vw -4vh 0px 0px #fff, -19vw -38vh 0px 0px #fff, 3vw 23vh 0px 0px #fff,
      -39vw 5vh 0px 0px #fff, -21vw -44vh 0px 0px #fff, -11vw 37vh 0px 0px #fff,
      -34vw 44vh 0px 0px #fff, -47vw 41vh 0px 0px #fff, -41vw 43vh 0px 0px #fff,
      -23vw 19vh 0px 0px #fff, -38vw 14vh 0px 0px #fff, -5vw -40vh 0px 0px #fff,
      43vw -28vh 0px 0px #fff;
  }
}
